---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/alle-staedte/</loc></url>
  <url><loc>{{ site.url }}/karte/</loc></url>
  <url><loc>{{ site.url }}/events/</loc></url>
  <url><loc>{{ site.url }}/grosse-anfrage/</loc></url>
  <url><loc>{{ site.url }}/studio-eintragen/</loc></url>
  <url><loc>{{ site.url }}/blog/weihnachts-teamevent-ideen/</loc></url>
  <url><loc>{{ site.url }}/ueber-uns/</loc></url>
  <url><loc>{{ site.url }}/kontakt/</loc></url>
  <url><loc>{{ site.url }}/datenschutz/</loc></url>
  <url><loc>{{ site.url }}/impressum/</loc></url>
  {% for c in cities %}
  {% if not c.noindex %}
  <url><loc>{{ site.url }}/staedte/{{ c.slug }}/</loc></url>
  {% endif %}
  {% endfor %}
  {% for s in studios %}
  <url><loc>{{ site.url }}/studio/{{ s.slug }}/</loc></url>
  {% endfor %}
</urlset>
