---
permalink: /sitemap-ch.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/ch/</loc></url>
  <url><loc>{{ site.url }}/ch/alle-staedte/</loc></url>
  <url><loc>{{ site.url }}/ch/karte/</loc></url>
  <url><loc>{{ site.url }}/ch/events/</loc></url>
  <url><loc>{{ site.url }}/grosse-anfrage/</loc></url>
  <url><loc>{{ site.url }}/ch/studio-eintragen/</loc></url>
  <url><loc>{{ site.url }}/ch/blog/</loc></url>
  {% for post in collections.blogPosts %}
  <url><loc>{{ site.url }}{{ post.url }}</loc></url>
  {% endfor %}
  <url><loc>{{ site.url }}/ch/ueber-uns/</loc></url>
  <url><loc>{{ site.url }}/ch/kontakt/</loc></url>
  <url><loc>{{ site.url }}/ch/datenschutz/</loc></url>
  <url><loc>{{ site.url }}/ch/impressum/</loc></url>
  {% for c in cities %}
  {% if not c.noindex %}
  <url><loc>{{ site.url }}/ch/staedte/{{ c.slug }}/</loc></url>
  {% endif %}
  {% endfor %}
  {% for s in studios %}
  <url><loc>{{ site.url }}/ch/studio/{{ s.slug }}/</loc></url>
  {% endfor %}
  {% for t in nearbyTowns %}
  <url><loc>{{ site.url }}/ch/studios-nahe/{{ t.slug }}/</loc></url>
  {% endfor %}
</urlset>
