---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/ueber-uns/</loc></url>
  <url><loc>{{ site.url }}/kontakt/</loc></url>
  <url><loc>{{ site.url }}/datenschutz/</loc></url>
  <url><loc>{{ site.url }}/impressum/</loc></url>
  {% for c in cities %}
  <url><loc>{{ site.url }}/staedte/{{ c.slug }}/</loc></url>
  {% endfor %}
  {% for s in studios %}
  <url><loc>{{ site.url }}/studio/{{ s.slug }}/</loc></url>
  {% endfor %}
</urlset>
