---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap><loc>{{ site.url }}/sitemap-ch.xml</loc></sitemap>
  {# Sobald /de/ Inhalte hat: hier <sitemap><loc>{{ site.url }}/sitemap-de.xml</loc></sitemap> ergaenzen. #}
</sitemapindex>
